.slider {
    display: flex;
    overflow: scroll;
    gap: 20px;
    margin-bottom: 40px;

}
::-webkit-scrollbar {
    width: 0px;

}
::-webkit-scrollbar-thumb {
    background: #9b9b9b;
    height: 50px;
}
.slider img{
    height: 370px;
}
