.navbar {
    position: sticky;
    z-index:1;
    top: -1px;
    background: white;
}

.navTopContainer {
    display: flex;
    gap: 20px;
    border: 1px solid rgb(215, 215, 215);
    /* margin-top: 10px; */
    padding: 15px 15px 15px 15px;
    justify-content: space-between;
    align-items: center;
}

.navTopContainer>div {
    display: flex;   
}

.navTopContainer>div:nth-child(4) {
    width: 70%;
}

.cartQuntity {
    position: absolute;
    top: 12px;
    color: #c92834;
    font-weight: bold;
}

.iconsMenu {
    display: flex;
    gap: 20px;

}

.iconsMenu>div div, .cartIcon>div div  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.iconsMenu p,.cartIcon p {
    font-size: 13px;
}


.navTopContainer>div:nth-child(1) {
    display: block;
}

.navTopContainer>div:nth-child(3) {
    display: none;
}

.navTopContainer>div:nth-child(2) {
    display: none;
}
.cartIcon>div {
    display: none;
}


.search2{
    display: none;
    margin: auto;
}
@media (min-width: 100px) and (max-width: 440px){
    .search>div{
        display: none;
    }
    .search2{
        display: block;
        width: 80%;
        margin-bottom: 20px;
        margin-top: 10px;
    }
    .checkoutBtn button{
        font-size: 12px;
        padding: 5px;
    }
   
}

.Hamburger div{
    border-bottom: 1px solid #d1d1d1;
    padding: 15px;
    width: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navMenu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(215, 215, 215);
}
.navMenu>div {
   
    border: 3px solid white;
    margin: auto;
}

.navMenu>div:hover{
    border-bottom: 3px solid #1874da;
}
@media (min-width: 200px) and (max-width: 900px) {
    .iconsMenu>div {
        display: none;
    }
    .cartIcon>div {
        display: block;
    }

    .navTopContainer>div:nth-child(1) {
        display: none;
    }

    .navTopContainer>div:nth-child(3) {
        display: block;
    }

    .navTopContainer>div:nth-child(2) {
        display: block;
    }
    .navMenu{
        display: none;
    }
}