.cart {
    display: flex;
    gap: 30px;
    border: 1px solid #787677;
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 20px;
}

.cartPage{
    display: flex;
    margin: 50px;
    gap: 30px;
    justify-content: space-between;

}

.totalPage{
    /* width: 300px; */
    border: 1px solid rgb(121, 121, 121);
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    text-align: center;
    position: sticky;
    top: 150px;
    gap: 20px;
}
.totalPage>h1{
    font-size: 20px;
    font-weight: bold;
}
.totalPage>button{
    width: 100%;
    background:  red;
    color: white;
}
@media (min-width: 200px) and (max-width: 1000px) {
   
    .cart{
        flex-direction: column;
    }
  
}


@media (min-width: 200px) and (max-width: 600px) {
   
    .cart{
        flex-direction: column;
        width: 100%;
    }
    .cartPage{
        display: flex;
        margin: 50px;
        gap: 30px;
        flex-direction: column;
    }
}