.sideImage {
    display: flex;
    flex-direction: column;

}

.sideImage img:last-child {
    margin-top: 20px;
}

.categories {
    margin: 15px;
    padding-left: 20px;
}

.categories:hover {
    border-left: 3px solid rgb(61, 61, 195);
}

.sideImage2 {
    display: none;
    gap: 5%;
    margin-top: 5%;
}
.bigImage{
    display: none;
}
.im1 img{
    width:"155%";
    /* border: 1px solid rgb(255, 0, 0); */
}

@media (min-width: 200px) and (max-width: 1000px) {
    /* .im1 {
        display: none;
    }
    .cate{
        display: none;
    }

    .bigImage {
        display: block;
        width: 100%;
    } */

    .sideImage2 {
        display: flex;
    }

    .im2 {
        display: none;
    }
    .categories {
        margin: 1px;
        padding-left: 0px;
        font-size: 12px;
    }
    .Heading p{
        font-size: 14px;
    }
    .im1{
        width: 100%;
    }
}