
/* .signup{

} */
.p{
margin: 12px 0 12px 0;
}
.password{
    display: flex;
    gap: 20px;
}
.checkbox{
    display: flex;
    padding: 10px;
    margin: 20px 0 20px 0;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 5px;
}
.terms{
    text-align: center;
    margin-top: 20px;
}
.checkbox , .terms p{
    font-size: 12px;
}